<!--<h2>Test: {{ book?.title }} </h2>

@if(book){
<p>{{ book.description }}</p>
}-->

<!-- <h2 [ngClass]="{'text-success': tollesBuch() }">{{ book().title }}</h2>
<p>{{ book().description }}</p>
Tolles Buch: {{ tollesBuch() }} -->


<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-end " alt="" src="{{ book().firstThumbnailUrl }}">
    <div class="card-title">
      <h2 [ngClass]="{ 'text-success': tollesBuch() }">
        {{ book().title }}
        <span class="badge bg-secondary">{{ book().rating }}</span>
        <!-- <br>
        <span >{{ book().description }}</span> -->
        <!-- Variante 1: <span >{{ bookRating() }}</span>
        <br> -->

        <app-bookrating [bookrating]='book().rating'/>


      </h2>
    </div>
    <!-- <p>{{ book().description }}</p> -->

    <!-- Darf nicht gemacht werden, Objekte dürfen nicht manipuliert werden -->
    <button [disabled]="rateDownNotAllowed()" (click)="doRateDown()" class="btn btn-primary me-2">-1</button>
    <button [disabled]="rateUpNotAllowed()" (click)="doRateUp()" class="btn btn-primary me-2">+1</button>

    <!-- Routing -->
    <a class="btn btn-primary ms-2" [routerLink]="['/books', book().isbn]" >Details</a>
  </div>
</div>
