<p>dashboard works!</p>
<!--<pre>
  {{ books | json | blubb }}
</pre>
-->


<app-book-create (create)="doCreateBookHandler($event)"></app-book-create>

@for (item of books(); track item.isbn) {
  <!-- @if ($index == 2) {
    <app-book [book]='item'/>
  } -->
  <app-book [book]='item'
  (rateUp)="doRateUpHandler($event)"
  (rateDown)="doRateDownHandler($event)"
  [rateDownNotAllowed]="rateDownNotAllowed(item)"
  [rateUpNotAllowed]="rateUpNotAllowed(item)"/>
}

@if(loading()){
  <h2>Loading...</h2>
}

<!-- <app-book [book]='books()[0]'></app-book>
<app-book [book]='books()[1]'></app-book>
<app-book [book]='books()[2]'></app-book> -->
